/*
 Theme Name:     D2D - Blog Theme
 Theme URI:      https://www.draft2digital.com/blog
 Description:    D2D - Blog Theme
 Author:         Nick Thacker
 Author URI:     https://www.draft2digital.com
 Template:       Divi
 Version:        1.0.0
*/


/* =Theme customization starts here
------------------------------------------------------- */
#et-secondary-nav .menu-item-has-children>a:first-child:after, #top-menu .menu-item-has-children>a:first-child:after {
content: "45";
}

#et-secondary-nav .menu-item-has-children:hover>a:first-child:after, #top-menu .menu-item-has-children:hover>a:first-child:after {
content: "43";
}

/* Header stuff */
#logo {max-height:auto;}

#et_top_search{margin-top:-40px;}

form.et-search-form {max-width:200px !important;}

/* Hide Divi Main Navigation Menu */
#top-menu, .et-menu, nav#top-menu-nav, nav.et-menu-nav {display:none;}

.et_fixed_nav #main-header, .et_fixed_nav #top-header {border-bottom: 2px solid rgba(255,255,255,0.3);}

/* Secondary menu adjustments */

#et-info, #et-secondary-menu>ul>li a {color: #fff;padding: 7px 30px;font-weight: 300;}

/* Divi slider fixes */

.et_pb_slides .et_pb_slider_container_inner {padding: 30px 0 60px 0;}

/* Footer */

#footer-bottom {border-top:2px solid rgba(255,255,255,0.3);}

#footer-info, #footer-info a {text-align:center;float:none;padding:60px;}

/* Will stuff  */
#main-header {
    top: 35px !important;
    border: none !important;
    height: 80px;
}

@media (min-width: 981px) {
    .et_fullwidth_nav #main-header .container {
        padding-left: 21px;
    }
}

@media (min-width: 981px) {
    .et_fullwidth_nav #top-header .container {
        padding-right: 50px;
    }
	  .et_fullwidth_nav .et-search-form, .et_fullwidth_nav .et_close_search_field {
    right: 65px;
  }
}

@media (min-width: 981px) {
  .et_header_style_left #et-top-navigation, .et_header_style_split #et-top-navigation {
    padding-right: 40px !important;
  }
}

element {
    top: 34px;
    border: 0px !important;
}

#et-secondary-menu > ul > li a {
    padding: 0px 20px 9px;
}

#top-header .container {
    padding-top: .7em;
}

#logo {
 max-height:70px !important;
 vertical-align:top;
 padding-top: 20px;
 padding-bottom: 10px;
}
 #logo {
    content: url("https://www.draft2digital.com/blog/wp-content/uploads/2021/02/d2d-logo-dark.png");
  }

@media only screen and (max-width: 981px) {
	 .desktop-menu-item { display: none; }

  #logo {
    content: url("https://www.draft2digital.com/blog/wp-content/uploads/2021/04/IMG_2904.png");
  }
}

.et_pb_bg_layout_light .et_pb_post .post-meta a, .et_pb_post_slider.et_pb_bg_layout_dark .post-meta a {color: #ef320a !important;}

.et_pb_bg_layout_light .et_pb_portfolio_item .post-meta, .et_pb_bg_layout_light .et_pb_portfolio_item .post-meta a, .et_pb_bg_layout_light .et_pb_post .post-meta, .et_pb_bg_layout_light .et_pb_post .post-meta a, .et_pb_bg_layout_light .et_pb_post p, .et_pb_bg_layout_light p.et_pb_title_meta_container, .et_pb_bg_layout_light p.et_pb_title_meta_container a {color: #2b2b2b;}
